{%- if join_node_ip %}
server: https://{{ join_node_ip }}:9345
{%- endif %}
{%- if is_master %}
token-file: /etc/rancher/rke2/server_token
agent-token-file: /etc/rancher/rke2/agent_token
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
tls-san:
  {%- for backend in backends %}
  - {{ backend }}
  {%- endfor %}
{%- endif %}
{%- if worker_type %}
token-file: /etc/rancher/rke2/agent_token
node-label:
  - "worker-type={{ worker_type }}"
{%- endif %}
debug: true
