defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend api_server_front
  bind *:6443
  default_backend api_server_back

backend api_server_back
  balance roundrobin
  {%- for api_server in api_servers %}
    server {{ api_server.name }} {{ api_server.ip_addr }} check port 6443
  {%- endfor %}

frontend join_cluster_front
  bind *:9345
  default_backend join_cluster_back

backend join_cluster_back
  balance roundrobin
  {%- for api_server in api_servers %}
    server {{ api_server.name }} {{ api_server.ip_addr }} check port 9345
  {%- endfor %}
