{%- if lb_ip %}
server: https://{{ lb_ip }}:9345
{%- endif %}
{%- if backends %}
token-file: /tmp/shared_token
tls-san:
  {%- for backend in backends %}
  - {{ backend }}
  {%- endfor %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{%- endif %}

{%- if worker_type %}
agent-token-file: /tmp/agent_token
node-label:
  - "node-role.kubernetes.io/worker="
  - "worker-type={{ worker_type }}"
{%- endif %}
debug: true
