{%- if lb_ip %}
server: https://{{ lb_ip }}:9345
{%- endif %}
token: {{ token }}
{%- if backends %}
tls-san:
  - rke.qt
  {%- for backend in backends %}
  - {{ backend }}
  {%- endfor %}
{%- endif %}
